@import "utils";
@import "fonts";
@import "typography";

$colorBody:  #E0FFFF;
$colorBorder: #483D8B;
$buttonHoverBG: #FFFACD;
$buttonShadow: #3498db;
$colorBorderButton: blue;

html,
body{
  height: 100%;
  background: $colorBody;
  margin:0;
}
.container{
  width: 55%; 
  height: 65%;
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headline{
color: $colorBorder;
font-size:35px;
text-align: center;
margin:1.5%;
font-size: 32px;
font-family:"Prata";
text-shadow: 2px 2px 2px $buttonShadow;
}
.carousel{
  width: 100%; 
  height: 100%;
  img{
    object-fit: cover;
    height: auto;
    width: 100%;
  }
}

.slide{
  width: 100%; 
  height: 100%;
  z-index:1;
  border: 3px $colorBorder solid;
}
.buttons{
  display: flex;
  flex-direction: row;
  align-items: center;

  #button-right{
    right:0;
    color:$colorBorderButton;
    font-size: 30px;
    width:5%;
    margin-top: -62%;
  }
  #button-left{
    left:0;
    color:$colorBorderButton;
    font-size: 30px;
    width:5%;
    margin-top: -62%;
    margin-left: 93%;
  }
}
#button-right:hover {
  background-color: $buttonHoverBG;
  box-shadow: 0 0 10px 5px $buttonShadow ;
}
#button-left:hover{
  background-color: $buttonHoverBG;
  box-shadow: 0 0 10px 5px $buttonShadow ;
}
