@import "utils";
@import "fonts";
@import "typography";

html, body {
  height: 100%;
  background: #E0FFFF;
  margin: 0;
}

.container {
  width: 55%;
  height: 65%;
  margin-left: 20%;
}

.carousel {
  width: 100%;
  height: 100%;
}

.slide {
  width: 100%;
  height: 100%;
  z-index: 1;
  border: 3px #483D8B solid;
}

#button-right {
  color: red;
  background: #AFEEEE;
  right: 0;
  border: 3px solid blue;
  width: 20%;
  float: left;
  margin-left: 35%;
  text-align: center;
  margin-top: 2%;
}

#button-left {
  background: #AFEEEE;
  color: red;
  left: 0;
  border: 3px solid blue;
  width: 20%;
  text-align: center;
  float: left;
  margin-top: 2%;
}

#button-right:hover, #button-left:hover {
  background-color: #FFFACD;
  box-shadow: 0 0 10px 5px #3498db;
}