@import "utils";
@import "fonts";
@import "typography";

$colorBody:  #E0FFFF;
$colorHeadline: #7CFC00; 
$colorBorder: #483D8B;
$buttonHoverBG: #FFFACD;
$buttonShadow: #3498db;
$colorTextButton: red;
$colorBorderButton: blue;
$buttonBG: #AFEEEE;

html,
body{
  height: 100%;
  background: $colorBody;
  margin:0;
}
.container{
  width: 55%; 
  height: 65%;
  margin-left: 20%;
  /*display: flex;
  flex-direction: column;
  align-items: center;*/
}
.headline{
font-family: "Bebas Neue";
color: $colorHeadline;
font-size:35px;
text-align: center;
margin:1.5%;
}
.carousel{
  width: 100%; 
  height: 100%;
}
.slide{
  width: 100%; 
  height: 100%;
  z-index:1;
  border: 3px $colorBorder solid;
}
.buttons{
  #button-right{
    color: $colorTextButton;
    background: $buttonBG;
    right:0;
    border: 3px solid $colorBorderButton;
    width:20%;
    float: left; 
    margin-left:35%;
    text-align: center;   
    margin-top: 2%;
  }
  #button-left{
    background: $buttonBG;
    color: $colorTextButton;
    left:0;
    border: 3px solid $colorBorderButton;
    width:20%;
    text-align: center;
    float: left; 
    margin-top: 2%;
  }
}
#button-right:hover {
  background-color: $buttonHoverBG;
  box-shadow: 0 0 10px 5px $buttonShadow ;
}
#button-left:hover{
  background-color: $buttonHoverBG;
  box-shadow: 0 0 10px 5px $buttonShadow ;
}
